.menu-container {
  z-index: 4;
  position: fixed;
  right: 30px;
  top: 30px;
  padding-right: 12px;
  border-right: 4px solid #db4d59;
  font-family: "Poppins", sans-serif;
  /* letter-spacing: 2px; */
  transition: all 2s ease-in-out;
}

.collapse .menu-section {
  opacity: 0;
}

.home {
  top: 80px;
  right: 80px;
}

.mjb-title {
  color: #db4d59;
  font-size: 18px;
  text-align: right;
}

.menu-section {
  cursor: pointer;
  line-height: 42px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: wheat;
  text-align: end;
  transition: all 0.3s ease-in-out;
}

.home .menu-section {
  font-size: 72px;
  line-height: 82px;
}

.home .menu-section:hover,
.home .hovered {
  font-size: 82px;
}

.menu-section:hover,
.hovered {
  font-size: 42px;
}
.clicked {
  font-size: 42px;
  color: #db4d59;
}

@media (max-width: 1000px) {
  .menu-section {
    opacity: 0;
  }
  .home .menu-section {
    opacity: 1;
    font-size: 46px;
    line-height: 56px;
  }
  .menu-container {
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    border-top: 4px solid #db4d59;
  }
  .home {
    border-top: 0;
    top: 80px;
    right: 20px;
  }
}
