.menu-container {
  z-index: 4;
  position: fixed;
  right: 100px;
  top: 88px;
  padding-right: 12px;
  border-right: 6px solid #806a4d;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}

.menu-section {
  cursor: pointer;
  line-height: 62px;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: wheat;
  text-align: end;
  transition: all 0.3s ease-in-out;
}

.menu-section:hover,
.hovered {
  font-size: 62px;
}
.clicked {
  font-size: 62px;
  color: #db7c4d;
}
