.menu-container {
  z-index: 4;
  position: fixed;
  right: 30px;
  top: 30px;
  padding-right: 12px;
  border-right: 4px solid #806a4d;
  font-family: "Poppins", sans-serif;
  /* letter-spacing: 2px; */
  transition: all 2s ease-in-out;
}

.home {
  top: 100px;
  right: 100px;
}

.menu-section {
  cursor: pointer;
  line-height: 62px;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: wheat;
  text-align: end;
  transition: all 0.3s ease-in-out;
}

.home .menu-section {
  font-size: 72px;
  line-height: 82px;
}

.home .menu-section:hover,
.hovered {
  font-size: 82px;
}

.menu-section:hover,
.hovered {
  font-size: 62px;
}
.clicked {
  font-size: 62px;
  color: #db7c4d;
}
