.projects-container {
  color: wheat;
  /* margin-top: 100px; */
  margin-left: 200px;
  text-align: left;
  font-family: AvenirBold, sans-serif;
  overflow: hidden;
}

.projects-fullscreen-gallery {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.projects-fullscreen-gallery .carousel {
  /* margin-left: 10vw; */
  width: 100vw;
  height: 65vh;
}

.projects-fullscreen-gallery img {
  margin-left: 120px;
  object-fit: contain;
  height: 65vh;
}

.gallery-control-button {
  border: 0;
  background: transparent;
  position: absolute;
  bottom: 80px;
  left: 120px;
  outline: unset;
}

.gallery-forward-button {
  left: 180px;
  bottom: 78px;
}

.gallery-back-button {
  transform: rotate(180deg);
}

.gallery-control-button:hover img {
  transform: scale(1.2);
}

.gallery-control-button img {
  margin-left: 0;
  width: 36px;
  height: 36px;
  transition: transform 0.1s ease-in;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.projects-title {
  color: #bababa;
  font-size: 90px;
  letter-spacing: 4px;
  margin-bottom: 32px;
}

.projects-text {
  max-width: 1000px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-bottom: 42px;
}
.big {
  margin-bottom: 20px;
  color: #ecc67e;
  font-size: 22px;
}
.projects-img {
  max-width: 990px;
  text-align: left;
  display: flex;
  align-items: center;
}

.projects-img img {
  width: 600px;
  margin-right: 32px;
}

.projects-img__buttons {
  display: flex;
}

.projects-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid wheat;
  border-radius: 8px;
  padding: 15px;
  margin-right: 32px;
  min-width: 100px;
  text-align: center;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.projects-button a {
  text-decoration: none;
  color: wheat;
}

.projects-button:hover {
  color: wheat;
  background: #db4d59;
  border: 1px solid #db4d59;
}

.projects-tech-stack {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.tech-stack-title {
  margin-right: 24px;
}

.tech-stack-items {
  display: flex;
  align-items: center;
}

.tech-stack-item {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-stack-item img {
  width: 50px;
}

.project-image-gallery {
  max-width: 50vh;
  margin-bottom: 24px;
  display: flex;
}

.project-image-gallery img {
  max-width: 50vh;
}

.image-gallery-move-arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 9;
  top: calc(50% - 25px);
  transform: rotate(180deg);
  transition: width 0.1s ease-in;
}

.image-gallery-move-arrow:hover {
  width: 45px;
}

.image-gallery-move-arrow img {
  width: 50px;
}

.image-gallery-fullscreen {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 9;
  bottom: 10px;
  right: 10px;
  transition: transform 0.1s ease-in;
}

.image-gallery-fullscreen:hover {
  transform: scale(1.1);
}

.right {
  right: 0;
  transform: rotate(0deg);
}

.fullscreen .image-gallery-image {
  max-height: 100vh !important;
  height: 100vh !important;
}

@media (max-width: 1674px) {
  .projects-container {
    margin-left: 100px;
  }
}

@media (max-width: 1390px) {
  .projects-text {
    max-width: 800px;
  }
  /* .project-image-gallery {
    max-width: 800px;
  } */
  .projects-img__buttons {
    flex-direction: column;
  }
  .projects-button {
    margin-bottom: 6px;
    margin-top: 6px;
  }
}

@media (max-width: 1000px) {
  .projects-container {
    margin-left: 0;
    margin-top: 54px;
  }
  .projects-fullscreen-gallery {
    padding-top: 0;
  }
  .projects-fullscreen-gallery .carousel {
    width: 100vw;
    height: 100vh;
  }

  .projects-fullscreen-gallery img {
    margin-left: 0px;
    width: 100%;
    height: auto;
  }

  .gallery-control-button {
    border: 0;
    background: transparent;
    position: absolute;
    bottom: 20px;
    left: calc(50vw - 62px);
    outline: unset;
  }

  .gallery-control-button img {
    width: 32px;
    height: 32px;
  }

  .gallery-forward-button {
    left: calc(50vw + 20px);
    bottom: 18px;
  }
  .gallery-control-button:hover img {
    transform: scale(1);
  }
  .projects-title {
    font-size: 44px;
    letter-spacing: 2px;
    margin-bottom: 20;
    font-weight: bold;
  }
  .projects-img {
    display: block;
  }
  .projects-img img {
    width: calc(100vw - 60px);
    margin-bottom: 24px;
  }
  .projects-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .big {
    font-size: 18px;
  }
  .projects-img__buttons {
    flex-direction: row;
    justify-content: space-around;
  }
  .projects-button {
    margin: 0;
    font-size: 18px;
    padding: 10px;
  }
  .projects-section {
    overflow: hidden;
    width: calc(100vw - 60px);
    margin-bottom: 90px;
  }

  .projects-tech-stack {
    flex-direction: column;
  }
  .tech-stack-title {
    margin-bottom: 12px;
  }

  .project-image-gallery {
    display: flex;
    justify-content: center;
    width: calc(100vw - 60px);
  }

  .image-gallery-move-arrow {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
  }

  .image-gallery-move-arrow:hover {
    width: 24px;
  }

  .image-gallery-move-arrow img {
    width: 24px;
  }

  .image-gallery-fullscreen {
    width: 20px;
    height: 20px;
    z-index: 9;
    bottom: 5px;
    right: 5px;
  }

  .tech-stack-title {
    margin-right: 0;
  }

  .tech-stack-item {
    margin-right: 0;
  }
}

@media screen and (orientation: portrait) {
  .projects-fullscreen-gallery .carousel {
    padding-top: 60vh;
  }

  .projects-fullscreen-gallery img {
  }
}
