.projects-container {
  color: wheat;
  margin-top: 100px;
  margin-left: 200px;
  text-align: left;
}

.projects-section {
  margin-bottom: 120px;
}

.projects-title {
  color: #db4d59;
  font-size: 112px;
  letter-spacing: 6px;
  margin-bottom: 42px;
}

.projects-text {
  max-width: 1000px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 42px;
}

.projects-img {
  max-width: 990px;
  text-align: left;
  display: flex;
  align-items: center;
}

.projects-img img {
  width: 600px;
  margin-right: 32px;
}

.projects-img__buttons {
  display: flex;
}

.projects-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid wheat;
  border-radius: 8px;
  padding: 15px;
  margin-right: 32px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.projects-button a {
  text-decoration: none;
  color: wheat;
}

.projects-button:hover {
  color: wheat;
  background: #db4d59;
  border: 1px solid #db4d59;
}

@media (max-width: 1674px) {
  .projects-container {
    margin-left: 100px;
  }
}

@media (max-width: 1390px) {
  .projects-text {
    max-width: 800px;
  }
  .projects-img__buttons {
    flex-direction: column;
  }
  .projects-button {
    margin-bottom: 6px;
    margin-top: 6px;
  }
}

@media (max-width: 1000px) {
  .projects-container {
    margin-left: 0;
    margin-top: 50px;
  }
  .projects-title {
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 20;
    font-weight: bold;
  }
  .projects-img {
    display: block;
  }
  .projects-img img {
    width: calc(100vw - 60px);
    margin-bottom: 24px;
  }
  .projects-text {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .projects-img__buttons {
    flex-direction: row;
    justify-content: space-around;
  }
  .projects-button {
    margin: 0;
    font-size: 18px;
    padding: 10px;
  }
  .projects-section {
    margin-bottom: 90px;
  }
}
